.next
node_modules
.vercel
.env
.env.local
.env.*.local
.env.production
.env.development
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
data/
*.m4a
*.JPG
tsconfig.tsbuildinfo
*.zip
통화*
Gemini_Generated_Image*
Screenshot*
KakaoTalk*
image.png
.omc/
